.card{
    background-color: lightgray;
    width: 300px;
    height: 100px;
    border: solid black 1px;
}
.btn{
    background-color: red;
    position: absolute;
    right: 200px;
    border: solid black 1px;
}
.modal{
    
}