.card{
    background-color: lightgray;
    width: 300px;
    height: 100px;
    border: solid black 1px;
}
.btn{
    background-color: red;
    position: absolute;
    left: 250px;
    border: solid black 1px;
}
.modal{
    background-color: red;
    width:300px;
    height: 200px;
    border: solid black 1px;
    z-index: -1;
    position: absolute;
    right: 450px;
    top: 450px;
}